DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bantu_payroll?schema=public"
JWT_SECRET="replace-with-a-long-random-secret-min-32-chars"
PORT=5005
NODE_ENV=development
FRONTEND_URL="http://localhost:5173"
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
